version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: chat-postgres
    environment:
      POSTGRES_USER: chatuser
      POSTGRES_PASSWORD: RK@2026Chat
      POSTGRES_DB: rk_rtchat_db
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
